body {
    background-color: #283618;
}

.main-container {
    width: 879px;
    height: 470px;
    background-color: #283618;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 253px;
    height: 200px;
    padding: 10px;
    background-color: #606c38;
    display: flex;
    flex-wrap: wrap;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.container-top-left {
    align-content: flex-start;
}

.container-top-left__circle-bottom-last {
    background-color: #606c38;
}

.container-top-middle {
    background-color: #bc6c25;
    align-content: flex-end;
    justify-content: flex-end;
}

.container-top-middle__circle-top-first {
    background-color: #bc6c25;
}

.container-top-right {
    align-content: space-between;
    justify-content: space-between;
}

.container-bottom-left {
    background-color: #bc6c25;
}

.container-bottom-middle {}

.container-bottom-right {
    width: 233px;
    height: 180px;
    padding: 20px;
    background-color: #283618;
}

/* #606c38
#bc6c25 
#283618 */